{% extends '@!NelmioApiDoc/SwaggerUi/index.html.twig' %}

{% block header %}
    <style>
        .swagger-ui section.models {
            display: none;
        }
    </style>

    <a style="text-decoration: none;" id="logo" href="#" target="_blank">
        <h2 style="color: white; font-family: Courier,serif; font-weight: 150;">SOLID Symfony API</h2>
    </a>
{% endblock %}
